<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Angular Rest Update</title>
<!--Using a content delivery network - watch if they go down so does your site-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body data-ng-app>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Learning CRUD</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="create.html">Create Page</a></li>
      <li><a href="read.html">Read Page</a></li>
	  <li class="active"><a href="update.html">Update Page</a></li>
      <li><a href="delete.html">Delete Page</a></li>
	  <li><a href="post.html">Post Page</a></li>
	  <li><a href="readAll.html">Read All Page</a></li>
    </ul>
  </div>
 </nav>
    <form data-ng-submit="submit()" data-ng-controller="Ctrl">
	<fieldset class="group">
	 <legend>Student Information</legend>
	 <div class="input-group">
	   <span class="input-group-addon">Student ID</span>
	   <input data-ng-model="StudentID" class="form-control" />
	 </div>
	  <div class="input-group">
        <span class="input-group-addon">Student Name</span></span> 
	    <input data-ng-model="StudentName" class="form-control" />
	  </div>
	  <div class="input-group">
        <span class="input-group-addon">Student SSN</span>
	    <input data-ng-model="StudentSSN" class="form-control" />
	  </div>
	  <div class="input-group">
        <span class="input-group-addon">Student Email</span>
	    <input data-ng-model="StudentEmail" class="form-control" />
	  </div>
	  <div class="input-group">
        <span class="input-group-addon">Student Phone</span>
	    <input data-ng-model="StudentPhone" class="form-control" />
	  </div>
	</fieldset>
	<button type="submit" class="btn btn-primary" id="submit">Submit</button>
	<p>Request: {{ request }}</p>
    <p>Response: {{ response }}</p>
    </form>
</body>
<script type="text/javascript">
  function Ctrl($scope) {
    $scope.submit = function () {
      //Make sure to change the host and port to match the URL
      var query = "http://localhost:3000/Update?";
      query += "studentID=" + $scope.studentID;
      query += "&studentName=" + $scope.studentName;
      query += "&studentSSN=" + $scope.studentSSN;
      query += "&studentEmail=" + $scope.studentEmail;
      query += "&studentPhone=" + $scope.studentPhone;
	  $scope.request = query;
	  $scope.$apply();
      $.ajax({ url: query, crossDomain: true, dataType: 'json', type: 'GET' })
              .done(function (json) {
                $scope.response = json.result;
                $scope.$apply();
              })
              .fail(function () {
                alert("Error");
              });
    }
  }
</script></html>